<app-header *ngIf="router.url !='/login'"></app-header>

<aside *ngIf="router.url != '/login'" class="sidebar">
  <app-menu></app-menu>
</aside>

<section [ngClass]="{'content': router.url != '/login' }">
  <!-- <div class="card bg-light"> -->
  <!-- <p-card> -->
  <router-outlet></router-outlet>
  <!-- </p-card> -->

  <!-- </div> -->
</section>

<!-- <ngx-spinner type="ball-grid-beat">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner> -->

<ngx-spinner
  bdColor="rgba(54,56,57,0.8)" 
  size="large"
  color="#f8fafd"
  type="square-loader"
  [fullScreen]="true"
  >
  <p style="color: white">Cargando...</p>
</ngx-spinner>
<!-- 
<ngx-spinner
  bdColor="rgba(54,56,57,0.8)"
  
  template="<img src='https://media0.giphy.com/media/TamGVAGxDTYDNt3dpn/giphy.gif?cid=ecf05e47p3wsdlgvipe2jsahy5q0auyonkko54hj5u9s6zdg&rid=giphy.gif'/>"
  >
  <p style="color: white">Cargando...</p>
</ngx-spinner> -->
<!-- <iframe src="https://giphy.com/embed/TamGVAGxDTYDNt3dpn" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/emoji-smiley-emojis-TamGVAGxDTYDNt3dpn">via GIPHY</a></p> -->