@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.section .top_navbar{
  background: red;
  height: 50px;
  width: 100%;
  display: flex;
  z-index: 100; /* Behind the navbar */
  align-items: center;
  padding: 0 30px;
  top: 0;
  position: fixed;
  left: 0;
}


.section .logoutButton {
  right: 0;
  position: fixed;
  margin: 10px;
}


a {
  color: #fff!important;
}